body {
  background: url("https://ae01.alicdn.com/kf/H1991cd1fc5bb46d9aa53c2fee57cee738/White-Wooden-Bookshelf-Photography-Backdrops-Library-Books-Collection-Photo-Background-Artistic-Backgrounds-for-Photo-Studio.png_.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 5%;
}
