.image{
  height:50em; background-size:cover; width:100%;
  background-image:url('https://thumbnails.production.thenounproject.com/itLmVDtIWhXI9Rx_olGzDhPgcas=/fit-in/1000x1000/photos.production.thenounproject.com/photos/903B87FF-DA65-4B53-8BFD-84E8819F1444.jpg');
  background-position:50% 50%;
}
