@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.all {
    height: 300px;
    width:555px;
}
body{
    margin: 3% 12% 0 11%;
    font-family: 'Lato' ;
    font-weight: bold;
}
h1 {;
    color:  #747704;
}
h3 {
    color: #BCBBBB;
}
h2 {
    opacity: .4;
}
.midimage {
    width: 100%;
    height: auto;
}
.text-right {
    margin-right: 2%;
}
.main {
    margin-right: 3%;
    font-weight: bold;
}
a:hover {
    color: red;
}
